#home-image,
fp-bg {
    background-image: url("Images_cr/alternative-energy-clouds-efficiency-414837.jpg");
    /* top: 0;
    left: 0; */
    background-size: cover;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
    background-position: center 80%;
}

body {
    overflow: visible;
    margin: 0 0 0 0;
}

#fullpage {
    padding: 0 0 0 0;
    width: 100%;
    height: 100%;
    margin: 0 0 0 0;
}

.section {
    height: 100vh;
    position: relative;
    padding: 0 0 0 0;
    top: 0;
    left: 0;
    width: 100%;
}

.s1 {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0 0 0 0;
}


/*
text for testing
*/

.s2 {
    background-image: url(Images_cr/alternative-alternative-energy-electricity-1292464.jpg);
    background-size: cover;
}

.s3 {
    background-image: url(Images_cr/bird-s-eye-view-of-solar-panel-roof-1907419.jpg);
    background-size: cover;
}

.s4 {
    background-image: url(images/place\ holder.jpg);
    background-size: cover;
}

.s5 {
    background-image: url(images/place\ holder.jpg);
    background-size: cover;
}

span {
    z-index: 1000;
    color: #303030;
}


/*
 testing end
*/


/* #blur {
    background-size: cover;
    overflow: hidden;
    position: absolute;
    height: 100vh;
    z-index: 10;
    top: -50px;
    left: -50px;
    right: -50px;
    bottom: -50px;
    background-color: rgba(255, 255, 255, 0.7);
    z-index: 3;
}

.blurctrl {
    margin: 10px;
    overflow: hidden;
} */

.info {
    margin: 60vh 0 0 20px;
    z-index: 999;
}

.sidebar {
    height: 100vh;
    width: 32%;
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
    overflow: visible;
    -webkit-backdrop-filter: saturate(180%) blur(20px) brightness(60%);
    backdrop-filter: saturate(180%) blur(20px) brightness(60%);
    /* backdrop-filter: blur(5px);
    backdrop-filter: brightness(60%); */
    /*background-color: #111;
    background: #de5626;
    background: linear-gradient(to right bottom, #de5626, #C38B2E);*/
}

.sidebar .info p {
    color: rgb(255, 255, 255);
}

.Rectangle_5 {
    position: absolute;
    overflow: hidden;
    /* right: 52vh;
    top: 13vh; */
    /* width: 592;
    height: 336;
    box-shadow: 35px 29px 29px rgba(0, 0, 0, 0.55); */
}

.heading {
    right: 90vh;
    top: 13vh;
    position: absolute;
    z-index: 50;
}

.heading_txt {
    overflow: hidden;
    /* width: 25%; */
    white-space: nowrap;
    text-align: left;
    font-family: Rockwell;
    font-style: normal;
    font-weight: normal;
    font-size: 5rem;
    color: rgb(255, 255, 255);
    letter-spacing: -0.27px;
    margin-top: 35px;
    margin-left: 18px;
    position: fixed;
    z-index: 605;
    padding-right: 18px;
    /* -webkit-backdrop-filter: saturate(180%) blur(20px) brightness(50%);
    -ms-backdrop-filter: saturate(180%) blur(20px) brightness(50%);
    -moz-backdrop-filter: saturate(180%) blur(20px) brightness(50%);
    backdrop-filter: saturate(180%) blur(20px) brightness(50%); */
}

.Rectangle_5 {
    -webkit-backdrop-filter: saturate(180%) blur(20px) brightness(50%);
    -ms-backdrop-filter: saturate(180%) blur(20px) brightness(50%);
    -moz-backdrop-filter: saturate(180%) blur(20px) brightness(50%);
    backdrop-filter: saturate(180%) blur(20px) brightness(50%);
    box-shadow: 35px 29px 29px rgba(0, 0, 0, 0.55);
    overflow: visible;
    width: 592px;
    height: 336px;
    top: 0;
    left: 0;
    z-index: 600;
}

.siderect1 {
    overflow: visible;
    width: 400px;
    height: 100%;
    right: 0px;
    top: 0px;
}


/*----------------------*/

.footer {
    /* width: 100vw; */
    /* height: 10vh; */
    height: 40vh;
    position: relative;
    padding: 0 0 0 0;
    top: 0;
    left: 0;
    width: 100%;
}