#home-image,
fp-bg {
    background-image: url("Images_cr/alternative-energy-clouds-efficiency-414837.jpg");
    /* top: 0;
    left: 0; */
    background-size: cover;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
    background-position: center 80%;
}

#fullpage {
    padding: 0 0 0 0;
    width: 100%;
    height: 100%;
    margin: 0 0 0 0;
}

.section {
    height: 100vh;
    position: relative;
    padding: 0 0 0 0;
    top: 0;
    left: 0;
    width: 100%;
}

.s1 {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0 0 0 0;
}

.s2 {
    background-image: url(Images_cr/alternative-alternative-energy-electricity-1292464.jpg);
    background-size: cover;
}

.s3 {
    background-image: url(Images_cr/bird-s-eye-view-of-solar-panel-roof-1907419.jpg);
    background-size: cover;
}

.s4 {
    background-image: url(Images_cr/agriculture-basil-bunch-cultivation-348689.jpg);
    background-size: cover;
}

.s5 {
    background-image: url(images/place\ holder.jpg);
    background-size: cover;
}

#fp-nav ul li a span {
    background: #fff !important;
}

#fp-nav ul li .fp-tooltip {
    color: #fff !important;
}


/* .footer {
    text-align: center;
    font-size: 3em;
    height: 10vh;
} */

.content {
    margin: 50px
}

.info {
    margin: 60vh 0 0 20px;
    z-index: 999;
}

.sidebar {
    height: 100vh;
    width: 32%;
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
    overflow: visible;
    -webkit-backdrop-filter: saturate(180%) blur(20px) brightness(60%);
    backdrop-filter: saturate(180%) blur(20px) brightness(60%);
    /* backdrop-filter: blur(5px);
    backdrop-filter: brightness(60%); */
}

.sidebar .info p {
    color: rgb(255, 255, 255);
}

.Rectangle_5 {
    position: absolute;
    overflow: hidden;
    /* right: 52vh;
    top: 13vh; */
    /* width: 592;
    height: 336;
    box-shadow: 35px 29px 29px rgba(0, 0, 0, 0.55); */
}

.heading {
    right: 90vh;
    top: 13vh;
    position: absolute;
    z-index: 50;
}

.heading_txt {
    overflow: hidden;
    /* width: 25%; */
    white-space: nowrap;
    text-align: left;
    font-family: Rockwell;
    font-style: normal;
    font-weight: normal;
    font-size: 5rem;
    color: rgb(255, 255, 255);
    letter-spacing: -0.27px;
    margin-top: 35px;
    margin-left: 18px;
    position: fixed;
    z-index: 605;
    padding-right: 18px;
    /* -webkit-backdrop-filter: saturate(180%) blur(20px) brightness(50%);
    -ms-backdrop-filter: saturate(180%) blur(20px) brightness(50%);
    -moz-backdrop-filter: saturate(180%) blur(20px) brightness(50%);
    backdrop-filter: saturate(180%) blur(20px) brightness(50%); */
}

.Rectangle_5 {
    /* -webkit-backdrop-filter: saturate(180%) blur(20px) brightness(50%);*/
    /* backdrop-filter: saturate(180%) blur(20px) brightness(50%); */
    -ms-backdrop-filter: saturate(180%) blur(20px) brightness(50%);
    /* -moz-: ; */
    -o-backdrop-filter: saturate(180%) blur(20px) brightness(50%);
    -webkit-backdrop-filter: saturate(180%) blur(20px) brightness(50%);
    backdrop-filter: saturate(180%) blur(20px) brightness(50%);
    overflow: visible;
    width: 592px;
    height: 336px;
    top: 0;
    left: 0;
    z-index: 600;
}

.siderect1 {
    overflow: visible;
    width: 400px;
    height: 100%;
    right: 0px;
    top: 0px;
}


/* ////////////////////////////////////////////// */


/* scorll animation */

.scroll {
    position: absolute;
    top: 91%;
    left: 50%;
}

.scroll a {
    color: #fff;
    font: 13px Verdana, 'Lucida Grande';
}

.scroll a span {
    position: absolute;
    top: 0;
    left: 50%;
    width: 30px;
    height: 50px;
    margin-left: -15px;
    border: 2px solid #fff;
    border-radius: 50px;
    box-sizing: border-box;
    margin-top: 23px;
}

.scroll a span::before {
    position: absolute;
    top: 10px;
    left: 50%;
    content: '';
    width: 6px;
    height: 6px;
    margin-left: -3px;
    background-color: #fff;
    border-radius: 100%;
    -webkit-animation: sdb10 2s infinite;
    animation: sdb10 2s infinite;
    box-sizing: border-box;
}

@-webkit-keyframes sdb10 {
    0% {
        -webkit-transform: translate(0, 0);
        opacity: 0;
    }
    40% {
        opacity: 1;
    }
    80% {
        -webkit-transform: translate(0, 20px);
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

@keyframes sdb10 {
    0% {
        transform: translate(0, 0);
        opacity: 0;
    }
    40% {
        opacity: 1;
    }
    80% {
        transform: translate(0, 20px);
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}