#home-image,
fp-bg {
    background-image: url("Images_cr/alternative-energy-clouds-efficiency-414837.jpg");
    /* top: 0;
    left: 0; */
    background-size: cover;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
    background-position: center 80%;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0px;
    overflow: hidden;
    position: fixed;
}

nav ul li {
    float: left;
}

nav ul li a {
    padding: 14px 16px;
    text-align: center;
    text-decoration: none;
    color: grey;
    display: inline-block;
}

.sidebar {
    float: right;
}

.dropdown:hover {
    background-color: black;
}

li.dropdown {
    display: inline-block;
}

.dropdown_content {
    display: none;
    position: absolute;
    min-width: 160px;
    -webkit-box-shadow: 0px 8px 16px 0px rgba(255, 255, 255, 0.2);
    box-shadow: 0px 8px 16px 0px rgba(255, 255, 255, 0.2);
    z-index: 1;
}

.dropdown_content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown_content a:hover {
    display: block;
}

.dropdown:hover .dropdown_content {
    display: block;
}

.anim-typewriter {
    animation: typewriter 4s steps(44) 1s 1 normal both, blinkTextCursor 500ms steps(44) infinite normal;
}

body {
    overflow: visible;
    margin: 0 0 0 0;
}

html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, font, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,q:before, q:after {
    content: '';
    content: none;
}

/* remember to define focus styles! */
:focus {
    outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
    text-decoration: none;
}

del {
    text-decoration: line-through;
} 

/* tables still need 'cellspacing="0"' in the markup */ 
table {
    border-collapse: collapse;
    border-spacing: 0;
}


/*---------- BODY --------------------------------*/
body {
	text-align: center;
	background: #e0e0e0;
	padding-bottom: 200px;
}

a {
	text-decoration: none;
}

/*---------- Wrapper --------------------*/
nav {
	width: 100%;
	height: 80px;
}

ul {
	text-align: center;
}

ul li {
	font: 13px Verdana, 'Lucida Grande';
	cursor: pointer;
	-webkit-transition: padding .05s linear;
	-moz-transition: padding .05s linear;
	-ms-transition: padding .05s linear;
	-o-transition: padding .05s linear;
	transition: padding .05s linear;
}

ul li.drop {
	position: relative;
}

ul > li {
	display: inline-block;
}

ul li a {
	line-height: 80px;
	padding: 0 20px;
	height: 80px;
	color: #777;
	-webkit-transition: all .1s ease-out;
	-moz-transition: all .1s ease-out;
	-ms-transition: all .1s ease-out;
	-o-transition: all .1s ease-out;
	transition: all .1s ease-out;
}

ul li a:hover {
	color: #eee;
}

.dropOut .triangle {
	width: 0;
	height: 0;
	position: absolute;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-bottom: 8px solid white;
	top: -8px;
	left: 50%;
	margin-left: -8px;
}

.dropdownContain {
	width: 160px;
	position: absolute;
	z-index: 2;
	left: 50%;
	margin-left: -80px; /* half of width */
	top: -400px;
}

.dropOut {
	width: 160px;
	background: white;
	float: left;
	position: relative;
	margin-top: 0px;
	opacity: 0;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: 0 1px 6px rgba(0,0,0,.15);
	-moz-box-shadow: 0 1px 6px rgba(0,0,0,.15);
	box-shadow: 0 1px 6px rgba(0,0,0,.15);
	-webkit-transition: all .1s ease-out;
	-moz-transition: all .1s ease-out;
	-ms-transition: all .1s ease-out;
	-o-transition: all .1s ease-out;
	transition: all .1s ease-out;
}

.dropOut ul {
	float: left;
	padding: 10px 0;
}

.dropOut ul li {
	text-align: left;
	float: left;
	width: 125px;
	padding: 12px 0 10px 15px;
	margin: 0px 10px;
	color: #777;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-transition: background .1s ease-out;
	-moz-transition: background .1s ease-out;
	-ms-transition: background .1s ease-out;
	-o-transition: background .1s ease-out;
	transition: background .1s ease-out;
}

.dropOut ul li:hover {
    background: #f6f690;
}

ul li:hover a { 
    color: white; 
}

ul li:hover .dropdownContain { 
    top: 65px; 
}

ul li:hover .underline { 
    border-bottom-color: #777; 
}

ul li:hover .dropOut { 
    opacity: 1; 
    margin-top: 8px; 
}

#Rectangle_5 {
    box-shadow: 35px 29px 29px rgba(0, 0, 0, 0.55);
    overflow: visible;
}

.siderect1 {
    overflow: visible;
    width: 400px;
    height: 100%;
    right: 0px;
    top: 0px;
}