    @charset "utf-8";
    body {
        margin: 0 0 0 0;
    }
    
    html,
    body {
        overflow-x: hidden;
        word-wrap: break-word;
    }
    
    h1 {
        text-decoration: underline;
    }
    
    .main_text li {
        list-style-type: square;
        display: block;
    }
    
    .main_text li {
        color: white;
        font-family: Rockwell;
        font-style: normal;
        font-weight: normal;
        font-size: 17px;
        line-height: 2;
    }
    
    .main_text p,
    .main_text h1,
    .main_text h2 {
        color: white;
        font-family: Rockwell;
        font-style: normal;
        font-weight: normal;
    }
    
    .main_text p {
        line-height: 2;
    }
    
    .main_text {
        position: relative;
        z-index: 650;
        padding-right: 75px;
        padding-left: 75px;
        padding-top: 10vh;
    }
    
    .Rectangle_3 {
        position: absolute;
        overflow: visible;
        width: 100vw;
        /* height: 300vh; */
        left: 0px;
        top: 0px;
        z-index: 10;
        height: fit-content;
    }
    
    .tips {
        padding-top: 20px;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 20px;
        margin-bottom: 20px;
        background-color: rgba(0, 0, 0, 0.3);
    }
    
    .Mov_obj {
        top: 10vh;
        left: -25vw;
        z-index: 500;
        position: fixed;
    }
    
    @media screen and (max-width:1000px) {
        .main_Img {
            float: none;
            margin-left: auto;
            margin-right: auto;
            width: 80%;
        }
    }
    
    @media screen and (min-width:1001px) {
        .main_Img {
            float: right;
            margin-top: 0px;
            margin-right: 0px;
            margin-left: 20px;
        }
    }
    
    .redirectButton input[type=button] {
        background-color: rgba(0, 0, 0, 0);
        color: white;
        padding: 10px 20px;
        text-decoration: none;
        border-style: solid;
        margin: 4px 2px;
        cursor: pointer;
        z-index: 900;
        font-family: Rockwell;
        font-style: normal;
        font-weight: normal;
        font-size: 1em;
        position: relative;
    }
    
    .small_navBar {
        display: none;
    }
    
    .navbar {
        display: inline;
    }
    
    @media screen and (max-width: 950px) {
        .small_navBar {
            display: inline;
        }
        .navbar {
            display: none;
        }
    }