.section {
    height: 100vh;
    position: relative;
    padding: 0 0 0 0;
    top: 0;
    left: 0;
    width: 100%;
}

.s1 {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0 0 0 0;
    background-size: cover;
    background-image: url("../../Images_cr/subpages/15011151177_6c579f00f6_b.jpg");
    background-color: rgba(0, 0, 0, 0.65);
    background-blend-mode: overlay;
}

.s2 {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0 0 0 0;
    background-size: cover;
    background: url("../../Images_cr/subpages/photography-of-roadway-during-dusk-1034662.jpg");
    background-color: rgba(0, 0, 0, 0.65);
    background-blend-mode: overlay;
    background-position: center;
}

.s3 {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0 0 0 0;
    background-size: cover;
    background-image: url("../../Images_cr/subpages/aerial-view-of-buildigns-1642125.jpg");
    background-color: rgba(0, 0, 0, 0.65);
    background-blend-mode: overlay;
}

.s4 {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0 0 0 0;
    background-size: cover;
    background-image: url("../../Images_cr/subpages/photography-of-person-holding-flashlight-near-windmills-1154460.jpg");
    background-color: rgba(0, 0, 0, 0.65);
    background-blend-mode: overlay;
    background-position: center;
}

.s5 {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0 0 0 0;
    background-size: cover;
    background-image: url("../../Images_cr/subpages/person-holding-black-pen-1109541.jpg");
    background-color: rgba(0, 0, 0, 0.65);
    background-blend-mode: overlay;
}

h1 {
    text-align: center;
    font-family: Rockwell;
    font-style: normal;
    font-weight: normal;
    font-size: 17vw;
    color: rgb(255, 255, 255);
}

h2 {
    font-family: Rockwell;
    font-style: normal;
    font-weight: normal;
    color: rgb(255, 255, 255);
    margin-left: 20px;
}

p {
    text-align: left;
    font-family: Rockwell;
    font-style: normal;
    font-weight: normal;
    font-size: 1.1rem;
    color: rgb(255, 255, 255);
    padding-left: 5%;
    padding-right: 5%;
}

.redirectButton input[type=button] {
    background-color: rgba(0, 0, 0, 0);
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    text-decoration: none;
    border-style: solid;
    margin: 4px 2px;
    cursor: pointer;
    z-index: 900;
    font-family: Rockwell;
    font-style: normal;
    font-weight: normal;
    font-size: 1em;
    position: relative;
    width: 50vw;
}

.redirectButton {
    margin-left: 25vw;
    margin-right: 25vw;
}