    #home-image {
        background-image: url("../Images_cr/alternative-energy-clouds-efficiency-414837.jpg");
        height: 70vh;
        background-size: auto 70vh;
        background-repeat: no-repeat;
    }
    
    .s2 {
        background-image: url("../Images_cr/alternative-alternative-energy-electricity-1292464.jpg");
        height: 70vh;
        background-size: auto 70vh;
        background-repeat: no-repeat;
    }
    
    .s3 {
        background-image: url("../Images_cr/bird-s-eye-view-of-solar-panel-roof-1907419.jpg");
        height: 70vh;
        background-size: auto 70vh;
        background-repeat: no-repeat;
    }
    
    .s4 {
        background-image: url("../Images_cr/home-real-estate-106399.jpg");
        height: 70vh;
        background-size: auto 70vh;
        background-repeat: no-repeat;
    }
    
    .s6 {
        background: linear-gradient(90deg, #00C9FF 0%, #92FE9D 100%);
    }
    
    .s6 .fp-tableCell {
        text-align: center;
        vertical-align: middle !important;
    }
    
    .s6 h1,
    .s6 p {
        font-family: Rockwell;
        font-style: normal;
        font-weight: normal;
        color: white;
    }
    
    .home_txt p {
        text-align: center;
        margin-bottom: 10vh;
    }
    
    .s1 input[type=button],
    .s2 input[type=button],
    .s3 input[type=button],
    .s4 input[type=button] {
        position: absolute;
        bottom: 1%;
        left: 25%;
        width: 50%;
        background-color: rgba(0, 0, 0, 0.6);
    }
    
    input[type=button] {
        background-color: rgba(0, 0, 0, 0.2);
        border: none;
        color: white;
        ;
        padding: 16px 32px;
        text-decoration: none;
        margin: 4px 2px;
        cursor: pointer;
        /* left: 200px; */
        z-index: 900;
        font-family: Rockwell;
        font-style: normal;
        font-weight: normal;
        text-transform: uppercase;
    }
    
    .fp-tableCell {
        vertical-align: bottom;
    }
    
    .heading_txt {
        position: absolute;
    }
    
    .heading {
        -webkit-backdrop-filter: saturate(180%) blur(20px) brightness(50%) !important;
        -ms-backdrop-filter: saturate(180%) blur(20px) brightness(50%) !important;
        /* -moz-background-color: rgba(0, 0, 0, 0.5); */
        backdrop-filter: saturate(180%) blur(20px) brightness(50%) !important;
        background-color: rgba(0, 0, 0, 0.5);
        box-shadow: 35px 29px 29px rgba(0, 0, 0, 0.55);
        overflow: hidden;
        width: 85%;
        height: 27%;
        margin-left: auto;
        margin-right: auto;
        /* padding: ; */
    }
    
    .heading_txt {
        /* position: absolute; */
        overflow: hidden;
        /* width: 25%; */
        white-space: nowrap;
        /* text-align: center; */
        font-family: Rockwell;
        font-style: normal;
        font-weight: normal;
        font-size: 12vw;
        color: rgb(255, 255, 255);
        letter-spacing: -0.27px;
        top: 6%;
        /* margin-right: auto;
    margin-left: auto; */
        /* position: fixed; */
        z-index: 605;
        padding-left: 4%;
        padding-right: 4%;
        padding-top: 3%;
        padding-bottom: 3%;
    }