@media (orientation: landscape) {
    #fullpage {
        display: none;
    }
    h1 {
        text-align: center;
    }
    .pull {
        position: absolute;
        right: 10px;
        top: 50%;
        margin-top: -10px;
    }
    .overlay p {
        color: white;
        font-family: Rockwell;
        font-style: normal;
        font-weight: normal;
    }
    .overlay {
        display: none;
        position: absolute;
        top: 0;
        background-color: rgba(0, 0, 0, .7);
        width: 100%;
        height: 100%;
    }
    .iconContainer {
        width: 200px;
        height: 200px;
        position: absolute;
        left: 50%;
        top: 50%;
        margin-left: -100px;
        margin-top: -100px;
        transform: rotate(90deg);
    }
    .overlay p {
        display: inline-block;
        width: 100%;
        text-align: center;
        padding-top: 80px;
        margin: 0;
        font-size: 20px;
        opacity: 0;
        vertical-align: bottom;
        /* transform: rotate(-90deg); */
    }
    .phone {
        position: relative;
        left: 50%;
        margin-left: -50px;
        width: 0;
        height: 0;
        border: 0 solid #000;
        background: #a9a9a9;
        border-radius: 10px;
        box-sizing: border-box;
    }
    .phone i {
        text-align: center;
        width: 100%;
        line-height: 120px;
        font-size: 50px;
        color: #454545;
        opacity: 0;
    }
    @media only screen and (orientation: landscape) {
        .overlay {
            display: block;
        }
        .overlay .phone {
            animation: sizeIncrease 0.5s forwards ease, borderIncrease 0.5s 0.5s forwards ease, rotateRight 0.7s 1s forwards ease;
        }
        .overlay .phone i {
            animation: fadeIn 0.5s 0.8s forwards ease;
        }
        .overlay p {
            animation: fadeIn 0.5s 1.3s forwards ease;
        }
    }
    /* KEYFRAMES ------------------------------------------- */
    /* Animate width + height */
    @keyframes sizeIncrease {
        0% {
            width: 0;
            height: 10px;
        }
        50% {
            width: 100px;
            height: 10px;
        }
        100% {
            width: 100px;
            height: 160px;
        }
    }
    /* Add borders */
    @keyframes borderIncrease {
        100% {
            border-width: 20px 10px;
        }
    }
    /* fade-in */
    @keyframes fadeIn {
        100% {
            color: rgb(255, 255, 255);
            opacity: 1;
        }
    }
    /* Rotate device */
    @keyframes rotateRight {
        100% {
            transform: rotate(90deg);
        }
    }
}

@media screen and (min-width: 768px) {
    .VDV {
        display: block;
    }
}

@media screen and (min-width:845px) {
    #home-image,
    .s2,
    .s3,
    .s4 {
        background-size: cover;
    }
}

@media screen and (min-width: 500px) {
    .heading_txt {
        overflow: hidden;
        white-space: nowrap;
        font-family: Rockwell;
        font-style: normal;
        font-weight: normal;
        font-size: 60px;
        color: rgb(255, 255, 255);
        letter-spacing: -0.27px;
        top: 6%;
        z-index: 605;
        padding-left: 4%;
        padding-right: 4%;
        padding-top: 3%;
        padding-bottom: 3%;
        position: absolute;
    }
    .heading {
        -webkit-backdrop-filter: saturate(180%) blur(20px) brightness(50%) !important;
        -ms-backdrop-filter: saturate(180%) blur(20px) brightness(50%) !important;
        backdrop-filter: saturate(180%) blur(20px) brightness(50%) !important;
        background-color: rgba(0, 0, 0, 0.5);
        box-shadow: 35px 29px 29px rgba(0, 0, 0, 0.55);
        overflow: hidden;
        width: 425px;
        height: 253px;
        margin-left: auto;
        margin-right: auto;
    }
}